<div class= "login-form">
    <h1 class="index-header">{{title}}</h1>
    <form class="needs-validation" novalidate action="/login" method="POST" id='login-form'>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="usernameText">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                    </div>
                    <input type="text" class="form-control" id="usernameText" name="username" placeholder="Username"
                        aria-describedby="inputGroupPrepend" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a Username.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="passwordText">Password</label>
                <input type="password" class="form-control" id="passwordText" name="password" placeholder="Password"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a Password.
                </div>
            </div>
        </div>
        <div class="login-user">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="./signup">Don't have an account?</a>
                </li>
            </ul>
            </li>
        </div>
        <div class= "error-msg">{{error}}</div>
        <button class="btn btn-primary" type="submit">Login!</button>
    </form>
    <script src="/public/js/login-validation.js"></script>
</div>
